.activitesWrappper{
  position: fixed;
  inset: 0;
  background-color: rgb(0, 0, 0,0.4);
  z-index: 10;
display: flex;
justify-content: center;
align-items: center;
backdrop-filter: blur(5px);
}
.addActivity{
position: fixed;
width: 90vw;
background-color: rgba(255, 255, 255, 0.2);
box-shadow: inset 0px 4px 7px 1px rgba(0, 0, 0, 0.25);
border-radius: 15px;
padding: 30px;
display: grid;
place-items: center;
}
.addActivity p {
  width: 80%;
  margin: 10px 0px;
}
#catSelect{
  width: 240px;
  height: 40px;
  border-radius: 20px;
  padding: 0px 30px;
  background-color: #fff;
  color: rgb(123, 119, 119);
  font-size: 1rem;
  border: none;
}
.addActivity button {
height: 35px;
width: 100px;
}
.addBtn,.closeBtn{
  background-color: #fff;
  color: #000;
  font-size: 1rem;
  margin-right: 3px;
}
.closeBtn{
background-color: var(--Very-dark-blue);
color: #fff;
margin-left: 3px;
}
.close{
width: 100%;
display: flex;
justify-content: flex-end;
}