@media screen and (max-width: 805px) {
  .dashboard{
    padding: 40px;
    width: 450px;
    height: 100vh;
    grid-template-areas:
      'profileSection'
       'cardWork' 
       'cardPlay' 
       'cardStudy' 
       'cardExercise'  
      'cardSocial' 
      'cardSelf'; 
      gap: 25px;
  }
  .bottomBar{
width: 100vw;
position: fixed;
z-index: 10;
bottom: 5px;
left: 0;
display: flex;
justify-content: center;
  }
  .wrapper{
    padding: 0px 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 90vw;
    border-radius: 15px;
    height: 60px;
    background-color: rgba(255, 255, 255, 0.106);
    box-shadow:  -1px -3px 10px 6px rgba(0,0,0,0.3);
    backdrop-filter: blur(5px);
  }
}